[submodule "hugo-casper-two"]
	path = hugo-casper-two
	url = https://github.com/sarahlshowers/hugo-casper-two.git
[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/sarahlshowers/hugo-casper-two.git
